.logo-icon {
  padding: 0 8px;
}

.toolbar-space {
  flex: 1 1 auto;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  box-shadow: 0 0 10px 11px #00000026 !important;

}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
