<div class="register-container">
  <mat-card>
    <mat-card-content>
      <form (submit)="registration()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="emailFormControl" placeholder="Введите ваш email" type="email" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Пароль</mat-label>
          <input matInput [formControl]="passwordFormControl" type="password" placeholder="Введите ваш пароль" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Повторите пароль</mat-label>
          <input matInput [formControl]="repeatPasswordFormControl" type="password" placeholder="Повторите ваш пароль" required>
        </mat-form-field>
        <mat-error *ngIf="errorServerText">{{ errorServerText }}</mat-error>
        <button mat-raised-button color="accent">Зарегистрироваться</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
